* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
}

.container {
  min-width: 300px;
  max-width: 450px;
  width: 80%;
  margin: auto;
}

@media (min-width: 1000px) {

  .container {
    position: fixed;
    top: 30px;
    right: 30px;
  }

}

#calculator {
  width: 100%;
  background-color: #585858;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 3px;
  position: relative;
  margin: 30px auto;
}

.display {
  display: block;
  width: 100%;
  text-align: right;
  height: 65px;
  font-size: 2.2em;
  padding-right: 10px;
  background-color: #8eb498;
  border: 2px solid #787878;
  font-family: Iceberg, sans-serif;
  margin-bottom: 15px;
  position: relative;
  cursor: default;
}

.display::-webkit-input-placeholder {
  color: #555;
}

#operation-display {
  position: absolute;
  width: 15px;
  height: 15px;
  font-size: 15px;
  line-height: 13px;
  z-index: 5;
  top: 6px;
  left: 6px;
  color: #555;
  border-radius: 2px;
  border: 1px solid #555;
  display: none;
  text-align: center;
}

.calc-buttons::after {
  display: block;
  content: "";
  clear: left;
}

.calc-buttons input {
  width: 18%;
  margin: 1%;
  border: none;
  padding: 0;
  outline: 0;
  border-radius: 3px;
  background-color: #383838;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
  height: 60px;
  font-family: arial, sans-serif;
  float: left;
  box-shadow: 1px 1px 2px 0 #000,
              0 1px 1px -2px #fff inset, /* this shadow is visible in firefox but not in chrome */
              0 1px 1px -1px #fff inset; /* this shadow is visible in chrome but not in firefox */
}

.calc-buttons input:active,
.calc-buttons input:focus,
.calc-buttons input::-moz-focus-inner {
  outline: 0;
  border: 0;
}

.calc-buttons input:hover {
  background-color: #484848;
  cursor: pointer;
}

.calc-buttons input:active {
  box-shadow: 1px 1px 1px 0 #000 inset;
  padding-left: 2px;
  padding-top: 1px;
}

#calculator .calc-buttons input.keyboard-active {
  background-color: lime;
  box-shadow: 1px 1px 1px 0 #000 inset;
  padding-left: 2px;
  padding-top: 1px;
}

.calc-buttons span {
  display: block;
}

#equal {
  width: 38%;
}

#del,
#clear {
  background-color: #c70505;
}

#del:hover,
#clear:hover {
  background-color: #d71515;
}

.documentation {
  margin: 30px auto;
  padding: 0 30px;
}

@media (min-width: 1000px) {

  .documentation {
    width: calc(100% - 520px);
    min-width: 500px;
    max-width: 1000px;
    float: left;
    margin-left: 30px;
  }

}

.documentation li {
  margin-bottom: 15px;
}

.documentation li ul {
  margin-top: 15px;
}

.documentation table {
  width: 100%;
}

.documentation table thead {
  background-color: #ccc;
}

.documentation table tbody {
  background-color: #eee;
}

.documentation table td {
  padding-left: 30px;
}

.documentation table td:first-child {
  font-weight: 900;
}

.code {
  font-family: monospace;
  background-color: #ccc;
  padding: 3px 5px;
  border-radius: 3px;
}
